<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.ai_crm.mapper.KnowledgeTagMapper">

    <select id="getTagsByKnowledgeId" resultType="java.lang.String">
        SELECT tag_name
        FROM crm_knowledge_tag
        WHERE knowledge_id = #{knowledgeId}
        ORDER BY create_time ASC, id ASC
    </select>

    <delete id="deleteByKnowledgeId">
        DELETE FROM crm_knowledge_tag
        WHERE knowledge_id = #{knowledgeId}
    </delete>

</mapper>
